extends layout

block content
  h1= title
  p Welcome to #{title}

  if !isLoggedIn
    button(onclick='window.location.href = window.location.href + "users/signup"') Sign Up
    button(onclick='window.location.href = window.location.href + "users/login"') Log in

  else
    button(onclick='window.location.href = window.location.href + "users/logout"') Log out

    if isAuthorized
      button(onclick='window.location.href = window.location.href + "posts/all"') Posts
      button(onclick='window.location.href = window.location.href + "posts/write"') Write Post

    else
      button(onclick='window.location.href = window.location.href + "users/auth"') Authorize Email
      button(onclick='window.location.href = window.location.href + "users/resend"') Resend Authorization Code

