doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1= result
    h3= detail
    button(onclick='window.location.href = "http://localhost:3000/"') Go Main