extends layout

block content
  h1= title
  form(action='/users/signup', method='POST')
    input(type='email' name='email' placeholder='E-mail' required)
    input(type='text' name='id' placeholder='ID' required)
    input(type='password' name='pw' id='pass' placeholder='Password' required)
    input(type='password' name='re-pw' id='re-pass' placeholder='Re-Password' required)
    input(type="submit" id='submit' value='Sign Up' onclick='checkPasswordAtSignUp')